HELP.md
target/
Disc/
doc/**
docs/**
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
src/PlaylistMasterServer.code-workspace

### Node Modules ###
node_modules/

### Secret ###
src/main/resources/application.yml
src/main/resources/playlistmasterhttps.p12
src/test/java/com/daw/pms/GlobalConfig.java
